/**
 * ¹ºÂòÒ³ÃæÑùÊ½
 */
.danbao-wrap {
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
}
a.danbao-link {
    display: inline-block;
    padding: 10px 40px;
    color: white;
    font-size: 120%;
    background: #f60;
    border-radius: 10px;
    text-decoration: none;
}